<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
            activate="true"
            class="com.tcs.mobility.sf.lecton.jumper.detectors.HyperlinkDetectorsService"
            description="Detects the @Service hyperlink"
            id="com.tcs.mobility.sf.lecton.jumper.hyperlinkDetectorService"
            name="SF_Service"
            targetId="org.eclipse.ui.DefaultTextEditor">
      </hyperlinkDetector>
      <hyperlinkDetector
            activate="true"
            class="com.tcs.mobility.sf.lecton.jumper.detectors.HyperlinkDetectorsConfig"
            description="Adds hyperlinks to the file paths in masterconfig.xml file"
            id="com.tcs.mobility.sf.lecton.jumper.hyperlinkDetectorConfig"
            name="SF_MasterConfig"
            targetId="org.eclipse.ui.DefaultTextEditor">
      </hyperlinkDetector>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?after=additions">
         <menu
               label="SiteFactory Tools">
            <command
                  commandId="com.tcs.mobility.sf.lecton.jumper.analyzespringbinding"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <and>
                        <count
                              value="1">
                        </count>
                        <iterate
                              ifEmpty="false"
                              operator="or">
                           <instanceof
                                 value="org.eclipse.jdt.core.IJavaProject">
                           </instanceof></iterate>
                     </and>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.tcs.mobility.sf.lecton.general.project.sitefactorycommands"
            name="SiteFactory Tools">
      </category>
      <command
            categoryId="com.tcs.mobility.sf.lecton.general.project.sitefactorycommands"
            id="com.tcs.mobility.sf.lecton.jumper.analyzespringbinding"
            name="Analyze Spring binding">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.tcs.mobility.sf.lecton.jumper.handlers.AnalyzeSpringBinder"
            commandId="com.tcs.mobility.sf.lecton.jumper.analyzespringbinding">
      </handler>
   </extension>
   <extension
         id="com.tcs.mobility.sf.lecton.jumper.servicedeclarationmarker"
         name="ServiceDeclaration Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="false">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="1"
            markerType="com.tcs.mobility.sf.lecton.jumper.servicedeclarationmarker"
            name="com.tcs.mobility.sf.lecton.jumper.servicedeclarationannotation">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="com.tcs.mobility.sf.lecton.jumper.servicedeclarationannotation"
            colorPreferenceKey="com.tcs.mobility.sf.lecton.jumper.servicedeclarationannotation.color"
            colorPreferenceValue="255,90,0"
            contributesToHeader="true"
            highlightPreferenceKey="com.tcs.mobility.sf.lecton.jumper.servicedeclarationannotation.highlight"
            highlightPreferenceValue="false"
            includeOnPreferencePage="true"
            label="Missing Service Declaration"
            overviewRulerPreferenceKey="com.tcs.mobility.sf.lecton.jumper.servicedeclarationannotation.overview"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            textPreferenceKey="com.tcs.mobility.sf.lecton.jumper.servicedeclarationannotation.text"
            textPreferenceValue="true"
            textStylePreferenceKey="com.tcs.mobility.sf.lecton.jumper.servicedeclarationannotation.textstyle"
            textStylePreferenceValue="SQUIGGLES"
            verticalRulerPreferenceKey="com.tcs.mobility.sf.lecton.jumper.servicedeclarationannotation.ruler"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>

</plugin>
