<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.tcs.mobility.sf.lecton.utility.preferences.SiteFactoryPreferencePage"
            id="com.tcs.mobility.sf.lecton.utility.preferences"
            name="Site Factory">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.tcs.mobility.sf.lecton.utility.preferences.SiteFactoryPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?after=additions">
         <menu
               id="com.tcs.mobility.sf.lecton.menu.sitefactorytools"
               label="SiteFactory Tools">
         </menu>
      </menuContribution>
   </extension>

</plugin>
